:root
{
   /* Hues */
   --green: 151;
   --amber: 30;
   --white: 0;
   /* Default saturation */
   --saturation: 100%;
   /* Default lightness */
   --lightness: 50%;
   /* Glow alpha */
   --glow1: 130;
   --glow2: 177;
   /* Default hue */
   --foreground: var(--green);
}

*
{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

.wrapper
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-flow: column nowrap;
   background-color: #000;
   height: 100vh;
}

.title
{
   color: #aaa;
   font-family: "Roboto Slab", serif;
}

.terminal
{
   display: flex;
   flex-flow: column wrap;
   justify-content: center;
   align-items: center;
}

.amber
{
   --foreground: var(--amber);
}

.white
{
   --foreground: var(--white);
   --saturation: 0%;
   --lightness: 100%;
}

.terminal .display
{
   background-color: hsl(var(--foreground), var(--saturation), 5%);
   color: hsl(var(--foreground), var(--saturation), var(--lightness));
   font-family: "Share Tech Mono", monospace;
   font-size: 0.5rem;
   text-shadow: 0 0 2px hsla(var(--foreground), var(--saturation), var(--lightness), var(--glow1)),
      0 0 30px hsla(var(--foreground), var(--saturation), var(--lightness), var(--glow2));
   padding: 0;
   margin-top: 2rem;
   width: 100vw;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 100;
   border-radius: 0;
}

.fullblock-cursor
{
   background-color: hsl(var(--foreground), var(--saturation), var(--lightness));
   box-shadow:
      0 0 30px hsla(var(--foreground), var(--saturation), var(--lightness), var(--glow2));
}

.underline-cursor
{
   background-color: hsl(var(--foreground), 100%, 4%);
   color: hsl(var(--foreground), 100%, var(--lightness));
}

.user-input
{
   opacity: 0;
   position: fixed;
   top: 0;
   left: 0;
}

@media screen and (min-width: 768px)
{
   .terminal .display
   {
      /* font-family: "Tandy 1K", "Share Tech Mono", monospace; */
      font-size: 10pt;
      /* font-size: 13px; */
      padding: 25px 20px;
      margin-top: 2rem;
      width: auto;
      flex: 0 0 content;
      border-radius: 5% / 95%;
      box-shadow: 0 0 10px #333;
      position: static;
      top: auto;
      left: auto;
   }
}
