:root {
   --foreground-color: #00ff84;
   --background-color: #001d0f;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

h1 {
   font-family: monospace;
}

.wrapper {
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-flow: column wrap;
   background-color: #aaa;
}

.terminal {
   display: flex;
   flex-flow: column wrap;
   justify-content: center;
   align-items: center;
}

.terminal .display {
   background-color: var(--background-color);
   color: var(--foreground-color);
   font-family: "Share Tech Mono", monospace;
   font-size: 0.5rem;
   text-shadow: 0px 0px 2px #00ff8482, 0px 0px 12px #00ff84b1;
   padding: 0;
   margin-top: 2rem;
   width: 100vw;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 100;
   border-radius: 0;
}

.fullblock-cursor {
   background-color: var(--foreground-color);
   box-shadow: 0px 0px 2px #00ff8482, 0px 0px 10px #00ff84b1;
}

.underline-cursor {
   background-color: var(--background-color);
   color: var(--foreground-color);
}

#input-fallback {
   opacity: 1;
   /* position: absolute; */
   position: fixed;
   top: 0;
   left: 0;
}

@media screen and (min-width: 768px) {
   .terminal .display {
      /* font-family: "Tandy 1K", "Share Tech Mono", monospace; */
      font-size: 12px;
      text-shadow: 0px 0px 2px #00ff8482, 0px 0px 10px #00ff84b1;
      padding: 25px 20px;
      margin-top: 2rem;
      width: auto;
      flex: 0 0 content;
      border-radius: 5% / 95%;
      box-shadow: 0 0 10px #333;
      position: static;
      top: auto;
      left: auto;
   }
}
